/* Main Page Styling */
.mainPage {
  padding: 20px;
}

.contentSection {
  padding: 40px 20px 10px 20px;
  text-align: justify;
  background-color: #f7f7f7;
  color: #333;
  margin-bottom: 300px;
  margin-left: 10%;
  margin-right: 10%;
}

.PageTitle {
  margin-top: 100px;
  font-size: 2.5rem;
  color: #3d8c4b;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.filterSection {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 20px;
  padding-right: 20px; 
}

.filterLabel {
  margin-right: 10px;
  font-size: 16px;
}

.filterDropdown {
  padding: 5px 10px;
  font-size: 16px;
}

/* Table Responsiveness */
.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.requestsTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  transition: all 0.3s ease-in-out;
}

.requestsTable th,
.requestsTable td {
  padding: 15px 20px;
  text-align: left;
  font-size: 16px;
  color: #333; 
  background-color: transparent;
}

.requestsTable th {
  background-color: #3d8c4b;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.requestsTable tr {
  transition: transform ease 0.3s;
  background-color: transparent;
}

.requestsTable tr:hover {
  background-color: #e0e0e0; 
  cursor: pointer; 
  transform: scale(1.02); 
}

.requestsTable tr:nth-child(even) {
  background-color: #fafafa; 
}

.requestsTable tr:nth-child(odd) {
  background-color: #ffffff;
}

.requestsTable td button {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
  margin-top: 10px;
}

.requestsTable td button.approveButton {
  background-color: #28a745;
  width: 100px;
  color: white;
}

.requestsTable td button.rejectButton {
  background-color: #dc3545;
  width: 100px;
  color: white;
}

.requestsTable td button:hover {
  opacity: 0.8;
  transform: scale(1.05); 
}

.approveButton:hover {
  background-color: #218838;
}

.rejectButton:hover {
  background-color: #c82333;
}

/* Popup */
.popup {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 2000;
}

.popup2 {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 2000;
}

.popupContent {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
}

.popupContentPre {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
}

.popupContentNew {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 1000px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
}

.popupHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
  color: #d0943d;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.popupText{
  font-size: 1rem;
}

.popupText strong{
  color: rgb(180, 0, 0);
  font-weight: bold;
}

.popupHeader h2 {
  font-size: 2.0rem;
  margin: 0;
  text-align: center;
}

.popupHeader h3 {
  font-size: 18px;
  margin: 0;
  color: #d0943d;
  background-color: transparent;
  text-align: center;
  margin-bottom: 5px;
}


.studentType {
  display: flex;
  color: #3d8c4b;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.studentType h5{
  
  color: #3d8c4b;
  font-size: 1rem;


}



.studentType::before,
.studentType::after {
  content: "";
  flex: 1; 
  border-bottom: 1px solid #3d8c4b; 
  margin: 0 10px; 
}

.popupButtons {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
}


button.approveButton, button.rejectButton {
  padding: 12px 24px; 
  margin-top: 50px;
  font-size: 1rem;
  width: 30%;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s ease, background-color 0.2s ease; 
}


button.approveButton {
  background-color: #3d8c4b;
}


button.rejectButton {
  background-color: #AA0000; 
}


button.approveButton span, button.rejectButton span {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  z-index: 2;
}


button.approveButton::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #03C03C;
  transition: left 0.3s ease;
  z-index: 0;
}

button.rejectButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f44336;
  transition: left 0.3s ease;
  z-index: 0;
}


button.approveButton:hover::before, button.rejectButton:hover::before {
  left: 0;
}

button.approveButton:hover, button.rejectButton:hover {
  color: #ffffff;
  transform: scale(1.01); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}




.closeButton {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
  position: absolute; 
  top: 0;             
  right: 0;          
  padding: 10px;     
}

.closeButton:hover {
  color: #900;
}

.popupPrompt {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 2000;
}

.popupPromptContent {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
}

.popupPromptContent::-webkit-scrollbar {
  width: 20px;
}

.popupContent::-webkit-scrollbar {
  width: 20px;
}

.popupPromptHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
  color: #d0943d;;
  margin-bottom: 50px;
  padding-bottom: 10px;

}

.popupPromptMessage {
  display: flex;
  color: #3d8c4b;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


.popupPromptMessage::before,
.popupPromptMessage::after {
  content: "";
  flex: 1; 
  border-bottom: 1px solid #3d8c4b; 
  margin: 0 10px; 
}


.popupPromptmessageImage {
  width: 60px; 
  vertical-align: middle; 
}



.popupPromptText{
  font-size: 1.0rem;
  text-align: center;
}

.popupPromptTextPre{
  font-size: 1.0rem;
  text-align: left;
  margin-left: 150px;
}

.popupPromptTextPreIrreg{
  font-size: 1.0rem;
  text-align: left;
  margin-left: 20px;
}

.popupPromptHeader h2 {
  font-size: 2.0rem;
  margin: 0;
  text-align: center;
}




.popupPromptcloseButton {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
  position: absolute; 
  top: 0;             
  right: 0;          
  padding: 10px;     
}
.popupPromptcloseButton:hover {
  color: #900;
}

.popupPromptInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.popupPromptLabel2 {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}


.popupPromptError {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 2000;
}

.popupPromptpContentError {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
}

.popupPromptContentError::-webkit-scrollbar {
  width: 20px;
}

.popupPromptHeaderError {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
  color:  #FF0000;;
  margin-bottom: 50px;
  padding-bottom: 10px;

}

.popupPromptMessageError {
  display: flex;
  color:  #FF0000;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.popupPromptMessageError::before,
.popupPromptMessageError::after {
  content: "";
  flex: 1; 
  border-bottom: 1px solid #3d8c4b; 
  margin: 0 10px; 
}

.popupPromptTextError{
  font-size: 1.0rem;
  text-align: center;
}
.popupPromptHeaderError h2 {
  font-size: 2.0rem;
  margin: 0;
  text-align: center;
}


.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.OKButton {
  padding: 12px 24px; 
  font-size: 1rem;
  width: 70%;
  background-color: #3d8c4b;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s ease, background-color 0.2s ease; 
}

.OKButton span {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  z-index: 2;
}

.OKButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #d0943d;
  transition: left 0.3s ease;
  z-index: 0;
}

.OKButton:hover::before {
  left: 0;
}

.OKButton:hover {
  color: #ffffff;
  transform: scale(1.01); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

button.addButton {
  padding: 12px 24px; 
  margin-bottom: 20px;
  font-size: 1rem;
  width: 30%;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s ease, background-color 0.2s ease; 
}


button.addButton {
  background-color: #d0943d;
}





button.addButton span {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  z-index: 2;
}


button.addButton::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #3d8c4b;
  transition: left 0.3s ease;
  z-index: 0;
}




button.addButton:hover::before {
  left: 0;
}

button.addButton:hover{
  color: #ffffff;
  transform: scale(1.01); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}


.advising {
  display: flex;
  margin-top: 100px;
  color: #3d8c4b;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.advising h5{
  color: #3d8c4b;
}

.advising::before,
.advising::after {
  content: "";
  flex: 1; 
  border-bottom: 1px solid #3d8c4b; 
  margin: 0 10px; 
}

.formContainer {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  text-align: left;
  background-color: transparent;
 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: transparent;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #3d8c4b;
  background-color: transparent;
}

.formGroup input,
.formGroup select, .formGroup textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-color: #3d8c4b;
  box-shadow: 0 0 1px rgba(61, 140, 76, 0.288);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: #3d8c4b;
}


.dropdownContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}


.dropdownLabel {
  font-size: 1rem;
  color: #333;
}


.subjectDropdown {
  position: relative; 
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #3d8c4b;
  border-radius: 4px;
  width: 100%;
}


.btn {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
}

.addBtn {
  background-color: #3d8c4b;
  width: 150px;
  transition: transform 0.3s ease, background-color 0.2s ease; 

}

.addBtn:hover {

  transform: scale(1.05);
  
}

.removeBtn {
  background-color: #cb1103;
  width: 150px;
  transition: transform 0.3s ease, background-color 0.2s ease; 

}

.removeBtn:hover {

  transform: scale(1.05);
}

.addBtn span, .removeBtn  span {
  position: relative;
font-size: 1rem;
  background-color: transparent;
  z-index: 2; 
}

.addBtn::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #03C03C;
  transition: left 0.3s ease; 
  z-index: 0; 
}

.removeBtn::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #f44336;
  transition: left 0.3s ease; 
  z-index: 0; 
}

.addBtn:hover::before {
  left: 0; 
}

.addBtn:hover {
  color: #ffffff; 
  transform: scale(1.01); 
}

.removeBtn:hover::before {
  left: 0; 
}

.removeBtn:hover {
  color: #ffffff; 
  transform: scale(1.01); 
}



.submitBtn  {
    position: relative; 
    width: 50%;
    padding: 0.5rem;
    height: 50px;
    font: 20px Poppins bold;
    color: #ffffff;
    background-color: #3d8c4b;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1rem;
    overflow: hidden; 
    transition: transform 0.3s ease;
    z-index: 1; 
}

.submitBtn span {
    position: relative;
    font: 20px Poppins bold;
    background-color: transparent;
    z-index: 2; 
}

.submitBtn::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: #d0943d;
    transition: left 0.3s ease; 
    z-index: 0; 
}

.submitBtn:hover::before {
    left: 0; 
}

.submitBtn:hover {
    color: #ffffff; 
    transform: scale(1.01); 
}

.advisingContainer {
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  padding: 20px;

}



.popupContentReq {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
}

.detailsSection {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;     
  justify-content: center;
}

.documentImage img {
  width: 80vw;
  height: auto;
  border: 2px solid #2e7d32;
  border-radius: 8px;
}

.popupTextReq {
  font-size: 1rem;
  display: flex;          
  flex-direction: row;    
  align-items: center;     
  justify-content: center;
  gap: 50px;               
  margin-bottom: 20px;    
}


.popupTextReq strong{
  color: #3d8c4b;
  font-weight: bold;
}

.checklistTable {
  width: 100%;
  border-collapse: collapse;
}

.checklistTable th,
.checklistTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  width: 10%;

}

.checklistTable th {
  background-color: #2e7d32;
  color: #fff;
}

.checklistTable input {
  width: 90%;
  padding: 5px;
  text-align: center;
}

.buttonSection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 5px;
}

.setEnrollmentButton {
  background-color: #3d8c4b; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setEnrollmentButton:hover {
  background-color: #d0943d;
}

.searchBar {
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin: 0 auto;         
  height: 100%;            
  width: 100%;              
}

.searchInput {
  width: 100%;  
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
}

.searchInput:focus {
  outline: none;
  border-color: #3d8c4b;
  box-shadow: 0 0 8px rgba(61, 140, 75, 0.5);
}



.checkTable {
  width: 100%;
  border-collapse: collapse; 
}

.checkTable th,
.checkTable td {
  padding: 10px;
  border: none; 
  text-align: center;
  width: 33%;
}

.checkTable th {
  background-color: transparent;
  color: #3d8c4b;
}

.checkTable select {
  width: 100%;
  padding: 5px;
  text-align: center;
  border-color: #3d8c4b;
  box-shadow: 0 0 4px rgba(61, 140, 75, 0.5);
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: transparent;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #3d8c4b;
  background-color: transparent;
}

.formGroup input,
.formGroup select, .formGroup textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: #3d8c4b;
}

.buttonFilterContainer {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
  padding-right: 20px; 
}

.filterSection {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 50%; 
}

.filterLabel {
  margin-right: 10px; 
}

.filterDropdown {
  padding: 0.5rem;
  border-radius: 5px; 
  border: 1px solid #ccc; 
}


.addButton1 {
  position: relative; 
  background-color: #d0943d;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden; 
  width: 15%;
  transition: transform 0.3s ease, color 0.3s ease; 
  margin-left: 50px;
  z-index: 1; 
}

.addButton1 span {
  position: relative;
  z-index: 2; 
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
}

.addButton1::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #3d8c4b; 
  transition: left 0.3s ease; 
  z-index: 0; 
}

.addButton1:hover::before {
  left: 0; 
}

.addButton1:hover {
  color: white; 
  transform: scale(1.01); 
}






/* MOBILE */
@media (max-width: 768px) {
  .contentSection {
    margin-bottom: 200px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .PageTitle {
    font-size: 1.5rem; 
  }

  .requestsTable {
    display: block;
    width: 100%;
  }

  .requestsTable thead {
    display: none; 
  }

  .requestsTable tbody {
    display: block;
  }

  .requestsTable tr {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 8px;
  }

  .requestsTable td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .requestsTable td:last-child {
    border-bottom: none;
  }

  .requestsTable td:last-child {
    justify-content: flex-end;
  }

  .requestsTable td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #3d8c4b; 
    padding-right: 10px;
  }

  .requestsTable td button {
    margin-top: 10px;
    gap: 10px;
    align-self: flex-end; 
  }

  .popupContent {
    max-height: 80vh;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .popupContentReq {
    max-height: 90vh;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .popupHeader {
    margin: 10px 0 20px;
  }

  .popupHeader h2 {
    font-size: 1.5rem; 
  }

  .popupText {
    font-size: 14px;
  }

  .popupTextReq {
    font-size: 14px;
    display: flex;          
  flex-direction: column;    
  align-items: center;  
  gap: 5px;   
  justify-content: center;
  }

  .studentType {
    font-size: 1.25rem; 
  }

  .searchBar {
    margin-top: 10px;
    width: 90%;              
}

.formGroup {
  margin-bottom: 5px;
}

.formGroup label {
  font-size: 14px;
  margin-bottom: 5px;
}

.formGroup input,
 .formGroup textarea {
  font-size: 14px;
}

.formGroup select {
  font-size: 10px;
}

.btn {
  width: 85%; 
  padding: 8px 15px;
}
.btn span {
  font-size: 12px; 
}

.buttonFilterContainer {
  flex-direction: column; 
  align-items: flex-start; 
}

.buttonFilterContainer button,
.buttonFilterContainer .filterSection {
  width: 100%;
  margin-bottom: 10px; 
}


}


@media (max-width: 480px) {
  

  .filterDropdown {
    width: 100%; 
  }

  .popupContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .PageTitle {
    font-size: 1.25rem; 
  }

  .popupHeader h2 {
    font-size: 1.25rem; 
  }
}


@media (max-width: 500px) {

  .checklistTable th,
  .checklistTable td {
   
    font-size: 10px;
    padding: 5px; 
  }


  .checkTable th,
  .checkTable td {
   
    font-size: 10px;
    padding: 5px; 
  }
}