.contentSection {
    padding: 40px 20px 10px 20px;
    text-align: justify;
    background-color: #f7f7f7;
    color: #333;
    margin-bottom: 300px;
    margin-left: 10%;
    margin-right: 10%;
}

.PageTitle {
    margin-top: 100px;
    font-size: 2.5rem;
    color: #3d8c4b;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}


.accountContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  

  .leftColumn {
    flex: 1;
    max-width: 300px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    height: 400px;
  }
  
  .profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profilePhoto {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  .uploadButton {
    margin: 10px 0;
    padding: 8px 15px;
    background-color: #d0943d;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden; 
    transition: transform 0.3s ease, color 0.3s ease; 
    z-index: 1; 
}

.uploadButton span {
    position: relative;
    z-index: 2; 
    font-size: 1rem;
    background-color: transparent;
}

.uploadButton::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: #3d8c4b; 
    transition: left 0.3s ease; 
    z-index: 0; 
}

.uploadButton:hover::before {
    left: 0; 
}

.uploadButton:hover {
    color: white; 
    transform: scale(1.02); 
}

  
  .fileInput {
    display: none;
  }
  
  .leftColumn h3 {
    margin-top: 10px;
    color: #3d8c4b;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
  }
  
  .leftColumn p {
    color: #d0943d;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .leftColumn button {
    color: #3d8c4b;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }


  .rightColumn {
    flex: 2;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profileEditSection {
    margin-bottom: 20px;
  }
  
  .subHeading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .editButtonContainer {
    text-align: right;
    margin-bottom: 15px;
  }
  
  .editButton {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .editButton img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  
  .profileEditSection {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .profileInfo {
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  .infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  .infoLabel {
    font-size: 1rem;
    font-weight: 600;
    color: #3d8c4b;
    margin-left: 5px;
    background-color: transparent;
    flex: 1;
  }
  
  

  .infoValue {
    font-size: 1rem;
    color: #555;
    background-color: transparent;
    flex: 2;
  }
  
  

.sectionHeading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center; 
}

.subHeading {
    font-size: 1.5rem;
    color: #3d8c4b;
    margin-bottom: 30px;
    text-align: center; 
}

.changePasswordSection {
    padding: 20px;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.passwordForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.formGroup input{
    background-color: #f7f7f7;
}

.formLabel {
    color: #3d8c4b;
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: transparent;
}

.inputContainer {
    position: relative;
    background-color: transparent;
}

.formInput {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.togglePasswordIcon {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.togglePasswordIcon img {
    width: 20px;
    height: 20px;
}

.submitButton {
    position: relative; 
    background-color: #d0943d;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden; 
    width: 100%;
    transition: transform 0.3s ease, color 0.3s ease; 
    z-index: 1; 
}

.submitButton span {
    position: relative;
    z-index: 2; 
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}

.submitButton::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: #3d8c4b; 
    transition: left 0.3s ease; 
    z-index: 0; 
}

.submitButton:hover::before {
    left: 0; 
}

.submitButton:hover {
    color: white; 
    transform: scale(1.02); 
}

  .editInput {
    flex: 2;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .editButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px; 
    background-color: transparent;
  }
  
  .editButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  
  .editButton:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .editIcon {
    width: 25px;
    height: 25px;
  }


  .changePasswordToggle {
    margin-top: 10px;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
  }
  
  .changePasswordToggle:hover {
    text-decoration: none;
    color: #0056b3;
  }
  
  .popup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.popupContent {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.popupContent::-webkit-scrollbar {
    width: 20px;
}

.popupHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    color: #d0943d;;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

.Message {
    display: flex;
    color: #3d8c4b;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.Message::before,
.Message::after {
    content: "";
    flex: 1; 
    border-bottom: 1px solid #3d8c4b; 
    margin: 0 10px; 
}


.messageImage {
    width: 60px; 
    vertical-align: middle; 
}



.popupText{
    font-size: 1.0rem;
    text-align: center;
}
.popupHeader h2 {
    font-size: 2.0rem;
    margin: 0;
    text-align: center;
}

.closeButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
    position: absolute; 
    top: 0;             
    right: 0;          
    padding: 10px;     
}
.closeButton:hover {
    color: #900;
}


.popupError {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.popupContentError {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.popupContentError::-webkit-scrollbar {
    width: 20px;
}

.popupHeaderError {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    color:  #FF0000;;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

.MessageError {
    display: flex;
    color:  #FF0000;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.MessageError::before,
.MessageError::after {
    content: "";
    flex: 1; 
    border-bottom: 1px solid #3d8c4b; 
    margin: 0 10px; 
}

.popupTextError{
    font-size: 1.0rem;
    text-align: center;
}
.popupHeaderError h2 {
    font-size: 2.0rem;
    margin: 0;
    text-align: center;
}


  
  





@media (max-width: 768px) {
    .contentSection {
        margin-left: 5%;
        margin-right: 5%;
    }

    .PageTitle {
        font-size: 2rem;
    }

    .changePasswordSection {
        width: 90%;
    }

    .accountContainer {
        flex-direction: column;
        align-items: center;
        padding: 10px; 
        gap: 15px; 
    }

    .formLabel {
        font-size: 12px;
    }

    .formInput {
        font-size: 12px;
    }

    .leftColumn, .rightColumn{
        width: 100%;
        margin: 0 0px;
    }

    .submitButton {
        padding: 0.6rem 0.8rem;
        font-size: 0.9rem;
    }

    .infoLabel {
        margin-left: 0px;
    }

    .accountDetails h3 {
        font-size: 1.3rem;
    }

    .submitButton {
        font-size: 14px;
    }

    .accountDetails p {
        font-size: 0.9rem;
    }

    .sectionHeading {
        font-size: 20px;
    }

    .subHeading {
        font-size: 18px;
    }



    .popupHeader {
        margin: 10px 0 20px;
    }

    .popupHeader h2 {
        font-size: 1.5rem; 
    }

    .popupText{
        font-size: 14px;
    }

    .Message {
        font-size: 1.25rem; 
    }




    .popupContentError{
        max-height: 80vh;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .popupHeaderError {
        margin: 10px 0 20px;
    }

    .popupHeaderError h2 {
        font-size: 1.5rem; 
    }

    .popupTextError{
        font-size: 14px;
    }

    .MessageError {
        font-size: 1.25rem; 
    }
}
