
  .contentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-bottom: 100px;
    background-color: #eeeeee;
  }
  

  .container {
    width: 595px;
    height: 842px;
    background-color: white;
    padding: 30px;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    background-color: transparent;
  }
  

  .logoContainer{
    background-color: white;
  }
  .logoContainer img {
    width: 80px;
    height: auto;
    margin-left: 50px;
    background-color: white;
  }
  
  .header {
    text-align: center;
    flex-grow: 1;
    background-color: transparent;
  }
  
  .header p {
    font-size: 11px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #555;
    background-color: transparent;
  }
  
  .header h1 {
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    background-color: transparent;
  }
  
  .header h2 {
    font-size: 11px;
    color: #444;
    background-color: transparent;
  }
  
  .contentt{
    background-color: transparent;
    margin-top: 0;
  }

  .pictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    color: #777;
    text-align: center;
    line-height: 1.2;
    background-color: transparent;
  }

  .idPictureBox{
    width: 100%;
    height: 100%;
  }
  

  .sectionTitle {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    border-top: 2px solid #ddd;
    padding-bottom: 2px;
    background-color: transparent;
  }

  .infoGrid0 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    background-color: transparent;
  }
  

  .infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    background-color: transparent;
  }

  
  .infoGrid div p, .infoGrid0 div p {
    margin: 0px 0;
    font-size: 10px;
    font-weight: bold;
    color: #444;
    background-color: transparent;
  }
  
  .infoGrid div span, .infoGrid0 div span {
    color: #222;
    font-weight: 500;
    background-color: transparent;
  }

  

  .infoGrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    background-color: transparent;
  }

  
  .infoGrid2 div p {
    margin: 0px 0;
    font-size: 10px;
    font-weight: bold;
    color: #444;
    background-color: transparent;
  }
  
  .infoGrid2 div span {
    color: #222;
    font-weight: 500;
    background-color: transparent;
  }

  .infoGrid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    background-color: transparent;
  }

  
  .infoGrid3 div p {
    margin: 0px 0;
    font-size: 10px;
    font-weight: bold;
    color: #444;
    background-color: transparent;
  }
  
  .infoGrid3 div span {
    color: #222;
    font-weight: 500;
    background-color: transparent;
  }

  
  

  .printButton {
  padding: 12px 24px; 
  font-size: 1rem;
  width: 30%;
  background-color: #3d8c4b;
  color: white;
  border: none;
  margin-top: 50px;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s ease, background-color 0.2s ease; 
}

.printButton span {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  z-index: 2;
}

.printButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #d0943d;
  transition: left 0.3s ease;
  z-index: 0;
}

.printButton:hover::before {
  left: 0;
}

.printButton:hover {
  color: #ffffff;
  transform: scale(1.01); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
  
@media print {
  @page {
    size: A4;
    margin: 2mm; 
  }


  .container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 30px;
  }
  

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  .logoContainer{
    background-color: white;
  }
  .logoContainer img {
    width: 80px;
    height: auto;
    margin-left: 50px;
    background-color: white;
  }
  
  .header {
    text-align: center;
    flex-grow: 1;
    background-color: transparent;
  }
  
  .header p {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    background-color: transparent;
  }
  
  .header h1 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    background-color: transparent;
  }
  
  .header h2 {
    font-size: 13px;
    color: #444;
    background-color: transparent;
  }
  
  
  .contentt{
    background-color: transparent;
    margin-top: 0;
  }

  .pictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    color: #777;
    text-align: center;
    line-height: 1.2;
    background-color: transparent;
  }

  .idPictureBox{
    width: 100%;
    height: 100%;
  }
  

  .sectionTitle {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    border-top: 2px solid #ddd;
    padding-bottom: 2px;
    background-color: transparent;
  }
  

  .infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: transparent;
  }

  
  .infoGrid div p {
    margin: 0px 0;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    background-color: transparent;
  }
  
  .infoGrid div span {
    color: #222;
    font-weight: 500;
    background-color: transparent;
  }

  .infoGrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 20px;
    background-color: transparent;
  }

  
  .infoGrid2 div p {
    margin: 0px 0;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    background-color: transparent;
  }
  
  .infoGrid2 div span {
    color: #222;
    font-weight: 500;
    background-color: transparent;
  }

  .infoGrid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: transparent;
  }

  
  .infoGrid3 div p {
    margin: 0px 0;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    background-color: transparent;
  }
  
  .infoGrid3 div span {
    color: #222;
    font-weight: 500;
    background-color: transparent;
  }

  

  .contentSection {
    
  }
  .printButton {
    display: none;
  }



  .infoGrid2 .hereby p{
    margin: 0px 0;
    font-size: 10px;
    color: #444;
    font-weight: 50;
    background-color: transparent;
  }
  
  .hereby{
    background-color: transparent;
    margin-right: 5px;
  }
  
  .contentt3box{
    background-color: transparent;
    margin-right: 5px;
    border: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .contentt3box .contentt3 {
    font-size: 8px;
    background-color: transparent;
    color: #444;
    text-align: center;
    font-weight: 400;
  }
  
  .contentt3{
    background-color: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    
  }
  
  .contentt3box .contentt4 {
    font-size: 8px;
    background-color: transparent;
    color: #444;
    text-align: left;
    font-weight: 400;
    margin-bottom: 0px;
  }
  
}
  
  




.NoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: none;
  font-size: 12px;
  text-align: center;
  background-color: transparent;
}

.NoPictureBox{
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.contentt2{
  background-color: transparent;
  margin-top: 0;
}

strong,u{
  background-color: transparent;
}

.infoGrid .contentt2 p {
  margin: 0px 0;
  font-size: 11px;
  font-weight: bold;
  color: #444;
  background-color: transparent;
}

.infoGrid .contentt2 span {
  color: #222;
  font-weight: 500;
  background-color: transparent;
}



.infoGrid4 {
  display: flex;
  justify-content: flex-end; 
  gap: 2px;
  font-size: 11px;
  margin-bottom: 20px;
  background-color: transparent;
}

.infoGrid4 .contentt2 p {
  margin: 0px 0;
  font-size: 11px;
  font-weight: bold;
  color: #444;
  background-color: transparent;
}

.infoGrid4 div span {
  color: #222;
  font-weight: 500;
  background-color: transparent;
}


.infoGrid5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2px;
  margin-bottom: 10px;
  background-color: transparent;
}

.infoGrid5 .contentt2 p {
  margin: 0px 0;
  font-size: 11px;
  color: #444;
  background-color: transparent;
}

.contentt2{
  margin: 0px 0;
  font-size: 11px;
  color: #444;
  background-color: transparent;
}

.contentt2_1{
  margin-top: 5px 0;
  font-size: 11px;
  color: #444;
  background-color: transparent;
}

.infoGrid5 .contentt2 span {
  color: #222;
  font-weight: bold;
  background-color: transparent;
}

.shifteeName{
  text-align: right;
}

.infoGrid2 .hereby p{
  margin: 0px 0;
  font-size: 8px;
  color: #444;
  font-weight: 50;
  background-color: transparent;
}

.hereby{
  background-color: transparent;
  margin-right: 5px;
}

.contentt3box{
  background-color: transparent;
  margin-right: 5px;
  border: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.contentt3box .contentt3 {
  font-size: 8px;
  background-color: transparent;
  color: #444;
  text-align: center;
  font-weight: 400;
}

.contentt3{
  background-color: transparent;
  border-bottom: 1px solid black;
  text-align: center;
  
}

.contentt3box .contentt4 {
  font-size: 8px;
  background-color: transparent;
  color: #444;
  text-align: left;
  font-weight: 400;
  margin-bottom: 0px;
}





@media print {

 
.NoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: none;
  font-size: 13px;
  text-align: center;
  background-color: transparent;
}

.NoPictureBox{
  width: 100%;
  height: 100%;
}

.infoGrid0 .contentt p{
  font-size: 13px;
}

.contentt2{
  margin: 0px 0;
  font-size: 13px;
  color: #444;
  background-color: transparent;
}

.contentt2_1{
  font-size: 13px;
}

.infoGrid .contentt2 p {
  margin: 0px 0;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  background-color: transparent;
}

.infoGrid .contentt2 span {
  color: #222;
  font-weight: 500;
  background-color: transparent;
}



.infoGrid4 {
  display: flex;
  justify-content: flex-end; 
  gap: 2px;
  font-size: 13px;
  margin-bottom: 20px;
  background-color: transparent;
}

.infoGrid4 .contentt2 p {
  margin: 5px 0;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  background-color: transparent;
}

.infoGrid4 div span {
  color: #222;
  font-weight: 500;
  background-color: transparent;
}


.infoGrid5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2px;
  margin-bottom: 20px;
  background-color: transparent;
}

.infoGrid5 .contentt2 p {
  margin-top: -5px;
  font-size: 13px;
  color: #444;
  background-color: transparent;
}

.infoGrid5 .contentt2 span {
  color: #222;
  font-weight: bold;
  background-color: transparent;
}

.contentSection{

}

}