
.contentSection {
  padding: 40px 20px 10px 20px;
  text-align: justify;
  background-color: #f7f7f7;
  color: #333;
  margin-top: 100px;
  margin-bottom: 300px;
  margin-left: 10%;
  margin-right: 10%;
}


.PageTitle {
  margin-top: 20px;
  font-size: 2.5rem;
  color: #3d8c4b;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}


.content{
  background-color: transparent;
}

.containers {
  display: flex;
  justify-content: center;
  gap: 10px; 
  overflow-x: auto; 
  padding: 10px 0; 
  white-space: nowrap;
  align-items: center;
}

.container {
  flex: 0 0 auto;
  color: #3d8c4b;
  padding: 20px;
  min-width: 150px; 
  text-align: center; 
  cursor: pointer;

  transition: transform 0.2s ease; 
}

.container:hover {
  transform: translateY(-5px); 
}

.containerTitle {
  font-size: 16px;
  font-weight: bold;
}

.superContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.superContainerTitle {
  font-size: 20px;
  color: #3d8c4b;
  font-weight: bold;
  margin-bottom: 10px;
}

.superContainerContent {
  font-size: 16px;
  color: #555;
  background-color: transparent;
}

.superContainerContent label{
  background-color: transparent;
}

.superContainerPlaceholder {
  font-size: 16px;
  color: #aaa;
  text-align: center;
}

.Contentt {
  background-color: transparent;
}


.Contentt h3{
  background-color: transparent;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}

.Contentt p{
  background-color: transparent;
  color: #333;
}

.Contentt h4, h5{
  background-color: transparent;
}

.Contentt h3 span{
  background-color: transparent;
  color: #3d8c4b;
}

.Text {
  background-color: transparent;
}

.stepTitle {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
  text-align: center;
  color: #3d8c4b;
  font-size: 2rem;
  margin-bottom: 50px; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: transparent;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #3d8c4b;
  background-color: transparent;
}

.formGroup input,
.formGroup select, .formGroup textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: #3d8c4b;
}

.formGroup input[type="file"] {
  padding: 5px;
  font-size: 14px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: transparent;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup input, .formGroup select, .formGroup textarea{
  width: 100%;
}

.submitButton {
  position: relative; 
  background-color: #d0943d;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden; 
  width: 100%;
  transition: transform 0.3s ease, color 0.3s ease; 
  z-index: 1; 
}

.submitButton span {
  position: relative;
  z-index: 2; 
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
}

.submitButton::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #3d8c4b; 
  transition: left 0.3s ease; 
  z-index: 0; 
}

.submitButton:hover::before {
  left: 0; 
}

.submitButton:hover {
  color: white; 
  transform: scale(1.01); 
}




.uploadLabel {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}

input[type="file"] {
  margin-top: 5px;
  background-color: transparent;
}

.uploadedImage {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: transparent;
}

.Title {
  color: #3d8c4b;
  font-weight: bold;
  background-color: transparent;
}


.checklistTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: transparent;
}

.checklistTable th,
.checklistTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 16%;
}

.checklistTable th {
  color: #ffffff;
  background-color: #3d8c4b;
}

.checklistTable td{
  background-color: white;
}

.checklistTable td input {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checklistTable td input:focus {
  border: 2px solid #3d8c4b; 
  outline: none; 
  border-radius: 4px; 
}


.tableInput {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

.uploadedImage {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.yearTitle{
  color: #3d8c4b;
  margin-top: 50px;
  text-align: center;
  background-color: transparent;
}

.semesterTitle{
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nextButton,
.backButton {
  position: relative; 
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden; 
  transition: transform 0.3s ease, color 0.3s ease;
  z-index: 1; 
}

.nextButton span,
.backButton span {
  position: relative;
  z-index: 2; 
  background-color: transparent;
}

.nextButton::before,
.backButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #3d8c4b; 
  transition: left 0.3s ease; 
  z-index: 1;
}

.nextButton:hover::before,
.backButton:hover::before {
  left: 0; 
}

.nextButton:hover,
.backButton:hover {
  transform: scale(1.01); 
  color: white; 
}

.backButton {
  background-color: #d0943d;
}

.nextButton {
  background-color: #d0943d;
}

.nextButton:disabled,
.backButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.uploadContainer {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.uploadTitle {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.uploadBox {
  width: 70%;
  margin: auto;
  border: 2px dashed #4caf50;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.uploadIcon {
  width: 100px;
  height: 100px;
  opacity: 0.7;
}

.browseButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.browseButton:hover {
  background-color: #45a049;
}

.formContainer {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: transparent;
 
}


.dropdownContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}


.dropdownLabel {
  font-size: 1rem;
  color: #333;
}


.subjectDropdown {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}


.btn {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.addBtn {
  background-color: #4caf50;
  width: 100px;
  transition: 0.5 ease;
}

.addBtn:hover {

  transform: scale(1.05);
  
}

.removeBtn {
  background-color: #cb1103;
  width: 100px;
  transition: 0.5 ease;
}

.removeBtn:hover {

  transform: scale(1.05);
}

/* Submit Button */
.submitBtn  {
    position: relative; 
    width: 50%;
    padding: 0.5rem;
    height: 50px;
    font: 20px Poppins bold;
    color: #ffffff;
    background-color: #3d8c4b;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1rem;
    overflow: hidden; 
    transition: transform 0.3s ease;
    z-index: 1; 
}

.submitBtn span {
    position: relative;
    font: 20px Poppins bold;
    background-color: transparent;
    z-index: 2; 
}

.submitBtn::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: #d0943d;
    transition: left 0.3s ease; 
    z-index: 0; 
}

.submitBtn:hover::before {
    left: 0; 
}

.submitBtn:hover {
    color: #ffffff; 
    transform: scale(1.01); 
}

.popup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.popupContent {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.popupContent::-webkit-scrollbar {
    width: 20px;
}

.popupHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    color: #d0943d;;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

.Message {
    display: flex;
    color: #3d8c4b;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.Message::before,
.Message::after {
    content: "";
    flex: 1; 
    border-bottom: 1px solid #3d8c4b; 
    margin: 0 10px; 
}


.messageImage {
    width: 60px; 
    vertical-align: middle; 
}



.popupText{
    font-size: 1.0rem;
    text-align: center;
}
.popupHeader h2 {
    font-size: 2.0rem;
    margin: 0;
    text-align: center;
}

.closeButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
    position: absolute; 
    top: 0;             
    right: 0;          
    padding: 10px;     
}
.closeButton:hover {
    color: #900;
}


/* MOBILE */
@media (max-width: 768px) {
  .contentSection {
    margin: 50px auto; 
  }

  .PageTitle {
    font-size: 1.5rem;
  }
  
  .containers {
    flex-direction: column; 
    align-items: center;
  }

  .container {
    min-width: 100%; 
    padding: 10px; 
    font-size: 14px; 
  }

  .stepTitle{
    font-size: 1rem;
  }

  .stepContent {
    padding: 15px;
  }

  .formGroup {
    margin-bottom: 5px;
  }

  .formGroup label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .formGroup input,
  .formGroup select, .formGroup textarea {
    font-size: 14px;
  }

  .formGrid {
    grid-template-columns: 1fr; 
  }

  .submitButton span{
    font-size: 14px;
  }

  .superContainer {
    padding: 15px; 
  }

  .superContainerTitle {
    font-size: 18px; 
  }

  .superContainerContent {
    font-size: 14px; 
  }

  .Contentt h3 {
    font-size: 1rem; 
  }

  .Contentt p{
    font-size: 14px;
  }

  .uploadBox {
    width: 90%; 
  }

  
  .uploadTitle {
    font-size: 14px; 
  }

  .checklistTable {
    width: 100%; 
    border-collapse: collapse; 
  }

  .checklistTable th,
  .checklistTable td {
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 8px; 
    width: auto; 
  }

  .popupContent{
    max-height: 80vh;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.popupHeader {
    margin: 10px 0 20px;
}

.popupHeader h2 {
    font-size: 1.5rem; 
}

.popupText{
    font-size: 14px;
}

.Message {
    font-size: 1.25rem; 
}

.submitBtn span {
  width: 100%; 
  font-size: 14px; 
}


}

@media (max-width: 500px) {

  .contentSection {
    padding: 0px;
    padding-top: 40px;
  }

  

  .checklistTable th,
  .checklistTable td {
    width: 20%;
    font-size: 10px;
    padding: 1px; 
  }

  .checklistTable td input {
    width: 90%;
    font-size: 10px;
    padding: 1px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .checklistTable td input:focus {
    border: 1px solid #3d8c4b;
 
  }




}