* {
    font-family: poppins reg;
    src: url(../assets/Poppins/Poppins-Regular.ttf);
}

.mainPage {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    background-image: url('/src/assets/login-bg.jpg'); 
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    padding-top: 50px;
    color: white; 
}


.PageTitle {
    font-size: 2.5rem;
    text-transform: uppercase;
    top: 0;
    font-weight: 800;
    color: white;
    text-align: center;
    background-color: transparent;
    position: relative; 

}

.formContainer {
    padding: 2rem;
    height: max-content;
    width: 500px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); 
    position: relative; 
    margin-top: 30px; 
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    background-color: transparent;
    width: 100%;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    background-color: transparent;
}

.inputIcon {
    position: absolute;
    left: 15px;
    background-color: transparent;
}

.inputIcon img {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.inputGroup ::placeholder {
    color: gray;
    opacity: 1;
    font-size: 18px;
}

.inputGroup input {
    width: 100%;
    height: 50px;
    background-color: #F4F5F0;
    padding: 0.8rem 0.5rem 0.5rem 3.5rem;
    border: 1px solid #ffffff;
    border-radius: 25px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    padding-right: 3rem; 
}

.togglePasswordIcon {
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.togglePasswordIcon img {
    width: 20px; 
    height: 20px; 
    background-color: transparent;
}


.loginButton {
    position: relative; 
    width: 100%;
    padding: 0.5rem;
    height: 50px;
    font: 20px Poppins bold;
    color: #ffffff;
    background-color: #d0943d;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1rem;
    overflow: hidden; 
    transition: transform 0.3s ease;
    z-index: 1; 
}

.loginButton span {
    position: relative;
    font: 20px Poppins bold;
    background-color: transparent;
    z-index: 2; 
}

.loginButton::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: #3d8c4b; 
    transition: left 0.3s ease; 
    z-index: 0; 
}

.loginButton:hover::before {
    left: 0; 
}

.loginButton:hover {
    color: #ffffff; 
    transform: scale(1.01); 
}


.options {
    display: flex;
    margin-top: -15px;
    font: 16px poppins reg;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: transparent;
    margin-right: 15px;
}

.rememberMe {
    display: flex;
    align-items: center;
    color: #3d8c4b;
    background-color: transparent;
}

.rememberMe input[type="checkbox"] {
    margin-right: 8px;
    color: #3d8c4b;
    width: auto;
}


.forgotPassword {
    color: #3685cd;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease;
    margin-right: 8px;
}

.forgotPassword:hover {
    color: #d0943d;
    text-decoration: underline;
}

.createAcc{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.createAcc p{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.521);
    font-size: 15px;
    margin-top: 15px;
}

.createAccBtn{
    text-decoration: none;
    background-color: transparent;
    color: black;
}


.errorMessage{
    color: red;
    background-color: transparent;
}

.popup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.popupContent {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.popupContent::-webkit-scrollbar {
    width: 20px;
}

.popupHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    color: #d0943d;;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

.Message {
    display: flex;
    color: #3d8c4b;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.Message::before,
.Message::after {
    content: "";
    flex: 1; 
    border-bottom: 1px solid #3d8c4b; 
    margin: 0 10px; 
}


.messageImage {
    width: 60px; 
    vertical-align: middle; 
}



.popupText{
    font-size: 1.0rem;
    text-align: center;
}
.popupHeader h2 {
    font-size: 2.0rem;
    margin: 0;
    text-align: center;
}

.closeButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
    position: absolute; 
    top: 0;             
    right: 0;          
    padding: 10px;     
}
.closeButton:hover {
    color: #900;
}


.popupError {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.popupContentError {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.popupContentError::-webkit-scrollbar {
    width: 20px;
}

.popupHeaderError {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    color:  #FF0000;;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

.MessageError {
    display: flex;
    color:  #FF0000;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.MessageError::before,
.MessageError::after {
    content: "";
    flex: 1; 
    border-bottom: 1px solid #3d8c4b; 
    margin: 0 10px; 
}

.popupTextError{
    font-size: 1.0rem;
    text-align: center;
}
.popupHeaderError h2 {
    font-size: 2.0rem;
    margin: 0;
    text-align: center;
}


/* MOBILE */
@media (max-width: 768px) {
    .PageTitle {
        font-size: 1.8rem; 
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .formContainer {
        width: 80%; 
        height: auto; 
        padding: 1.5rem; 
    }

    .inputGroup input {
        padding: 1rem 1rem 1rem 3.5rem;
    }

    .inputIcon {
        top: 15px;
        left: 25px;

    }

    .inputIcon img{
        width: 20px;
        height: 20px;
    }

    .inputGroup {
        flex-direction: column; 
        align-items: flex-start; 
    }

    

    .inputGroup ::placeholder {
        font-size: 14px;
    }


    .loginButton {
        height: 45px; 
        font-size: 1rem; 
    }

    .options {
        font: 10px poppins reg;    
    }

    .createAcc p{
        font-size: 13px;
    }

    .errorMessage{
        font-size: 13px;
    }



    .popupContent{
        max-height: 80vh;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .popupHeader {
        margin: 10px 0 20px;
    }

    .popupHeader h2 {
        font-size: 1.5rem; 
    }

    .popupText{
        font-size: 14px;
    }

    .Message {
        font-size: 1.25rem; 
    }




    .popupContentError{
        max-height: 80vh;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .popupHeaderError {
        margin: 10px 0 20px;
    }

    .popupHeaderError h2 {
        font-size: 1.5rem; 
    }

    .popupTextError{
        font-size: 14px;
    }

    .MessageError {
        font-size: 1.25rem; 
    }

}


