* {
    font-family: poppins reg;
    src: url(../assets/Poppins/Poppins-Regular.ttf);
}




.contentSection{
    padding: 40px 20px 10px 20px;
    text-align: justify;
    background-color: #f7f7f7;
    color: #333;
    margin-bottom: 300px;
    margin-left: 10%;
    margin-right: 10%;
}

.parallaxSection {
    position: relative;
    color: white;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-end; 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    text-align: left; 
}

.parallax1 {
    background-image: url('../assets/cvsub-bg.jpg');
    margin-top: 90px;
}

.parallax1 h1 {
    font: 50px poppins BOLD;
    color: white;
    background-color: transparent;
    margin: 0; 
    margin-top: 10px; 
    margin-left: 50px;
}

.parallax1 h2 {
    font: 30px poppins BOLD;
    color: white;
    background-color: transparent;
    margin: 0; 
    margin-bottom: 0px;
    margin-left: 50px;
}


.parallaxSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.parallaxSection > * {
    position: relative;
    z-index: 2; 
}

.PageTitle {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 50px; 
    font-weight: 800;
    color: #3d8c4b;
    text-align: center;
    background-color: transparent;
}


.radioGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.radioGroup label {
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
    font-size: 1.5rem;
}

.radioGroup input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2); 
    accent-color: blue; 
}

.formGroup {
    margin-top: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.formGroup input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.formGroup input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.formGroup select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.required {
    color: red;
    font-weight: bold;
}

.errorMessage{
    color: red;
    background-color: transparent;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.registerButton {
    position: relative; 
    width: 50%;
    padding: 0.5rem;
    height: 50px;
    font: 20px Poppins bold;
    color: #ffffff;
    background-color: #d0943d;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1rem;
    overflow: hidden; 
    transition: transform 0.3s ease;
    z-index: 1; 
}

.registerButton span {
    position: relative;
    font: 20px Poppins bold;
    background-color: transparent;
    z-index: 2; 
}

.registerButton::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: #3d8c4b; 
    transition: left 0.3s ease; 
    z-index: 0; 
}

.registerButton:hover::before {
    left: 0; 
}

.registerButton:hover {
    color: #ffffff; 
    transform: scale(1.01); 
}


.popup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.popupContent {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.popupContent::-webkit-scrollbar {
    width: 20px;
}

.popupHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    color: #d0943d;;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

.Message {
    display: flex;
    color: #3d8c4b;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.Message::before,
.Message::after {
    content: "";
    flex: 1; 
    border-bottom: 1px solid #3d8c4b; 
    margin: 0 10px; 
}

.popupText{
    font-size: 1.0rem;
    text-align: center;
}
.popupHeader h2 {
    font-size: 2.0rem;
    margin: 0;
    text-align: center;
}

.closeButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
    position: absolute; 
    top: 0;             
    right: 0;          
    padding: 10px;     
}
.closeButton:hover {
    color: #900;
}


.popupError {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.popupContentError {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.popupContentError::-webkit-scrollbar {
    width: 20px;
}

.popupHeaderError {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    color:  #FF0000;;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

.MessageError {
    display: flex;
    color:  #FF0000;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.MessageError::before,
.MessageError::after {
    content: "";
    flex: 1; 
    border-bottom: 1px solid #3d8c4b; 
    margin: 0 10px; 
}

.popupTextError{
    font-size: 1.0rem;
    text-align: center;
}
.popupHeaderError h2 {
    font-size: 2.0rem;
    margin: 0;
    text-align: center;
}








.footerCopyright {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;
    background-color: #00540d;
    padding: 10px 0;

}

.footerCopyright p {
    background-color: transparent;
}

.footerCopyright span {
    font-weight: bold;
    background-color: transparent;
}

.footerCopyright .highlighted {
    color: rgb(233, 185, 41); 
}






/* MOBILE */
@media (max-width: 768px) {

    .contentSection {

        margin-bottom: 200px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .parallaxSection {
        text-align: center;
        padding: 60px 10px; 
        justify-content:flex-end;
        min-height: 10vh;
    }

    .parallax1 h1 {
        font: 35px poppins BOLD; 
        margin-left: 20px;

    }

    .parallax1 h2 {
        font: 25px poppins BOLD; 
        margin-left: 20px;

    }

    .PageTitle {
        font-size: 1.5rem; 
    }

    .radioGroup {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .radioGroup label {
        font-size: 20px;
    }

    .formGroup label {
        font-size: 16px;
    }

    .registerButton {
        width: 100%;
        height: 45px; 
        font-size: 1rem; 
    }
    





    .popupContent{
        max-height: 80vh;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .popupHeader {
        margin: 10px 0 20px;
    }

    .popupHeader h2 {
        font-size: 1.5rem; 
    }

    .popupText{
        font-size: 14px;
    }

    .Message {
        font-size: 1.25rem; 
    }




    .popupContentError{
        max-height: 80vh;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .popupHeaderError {
        margin: 10px 0 20px;
    }

    .popupHeaderError h2 {
        font-size: 1.5rem; 
    }

    .popupTextError{
        font-size: 14px;
    }

    .MessageError {
        font-size: 1.25rem; 
    }










    .footerCopyright {
        font-size: 10px;
        background-color: #00540d;
        padding: 10px 0;
    
    }

    
}





    
